<h4>Internal Server Error - Refreshing this page will make the error disappear</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">
        Error: {{error.message}}
    </h5>
    <p class="font-weight-bold">If you are seeing this, then probably Angular is not to be blamed.</p>
    <p>What to do next?</p>
    <ol>
        <li>Open Chrome dev tools</li>
        <li>Inspect the network tab</li>
        <li>Check for the failing request</li>
        <li>Make sure the url is correct and is pointing to the correct server.</li>
        <li>Reproduce the error in Postman.</li>
    </ol>
    <p>Following is the stacktrace - This will help you to get a better insight into the error</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>